node_modules
dist
electron-dist
.claude/setting.local.json
.claude/scheduled_tasks.lock
.claude/worktrees/
.claude/skills/
.claude/skills-skip/
.idea/
.DS_Store
.omc/
tmp/

# 签名相关敏感文件
*.p12
*.cer
*.certSigningRequest
*.pem
*.key
*.pfx
.env
.env.*
!.env.example