.centerEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  height: 100%;
  overflow: auto;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
}

.sessionDividerText {
  font-size: 11px;
  color: var(--text-6);
}

.lastResponseLabel {
  font-size: 11px;
}
